@import 'core.scss';

#container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 100px;
    left:50%;
    transform: translateX(-50%);
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $table-header-color;
    border-bottom: $border;
    height: 50px;
    padding: 10px 0;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    font-family: 'Roboto Slab', serif;
    font-size: 19px;
}
.table {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,19.5%);
    grid-column-gap: 0.625%;
    width:100%;
    background-color: #f5f7fb;
}
.col {
    position: relative;
    background-color: #fff;
    box-shadow: rgba(48,54,69,.04) 0 2px 4px 0;
    border: $border;
    border-radius: $border-radius;
}
.row {
    display: block;
    height: 100px;
    padding: 15px;
    > p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top:50%;
        transform: translateY(-50%);
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;

        > p {
            display: flex;
            justify-content: space-between;
            height: 5px;
            width:100%;
            font-family: 'Gothic A1', sans-serif;
            color:rgb(0, 0, 190);
            font-size: 14px;
            align-self: flex-start;
        }
    }
    span {
        background-color: rgb(236, 232, 232);
        padding: 2.5px 8px;
        border-radius:8px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 5px;
    }
}
.row + .row {
    border-top: $border;
}

@media only screen and (max-width:1250px){
    .table {
        grid-template-columns: 49% 49%;
        grid-template-rows: repeat(3,auto);
        grid-column-gap: 2%;
        grid-row-gap: 15px;
    }
}
@media only screen and (min-width:1030px) and (max-width:1250px){
    #container {
        max-width: 60vw;
    }
}
@media only screen and (min-width:900px) and (max-width:1029.98px){
    #container {
        max-width: 80vw;
    }
}
@media only screen and (min-width:750px) and (max-width:899.98px){
    #container {
        max-width: 90vw;
    }
}
@media only screen and (max-width:585px){
    .table {
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-row-gap: 0.625%;
    }
}
@media only screen and (min-width:400px) and (max-width:584.98px){
    #container {
        max-width: 70vw;
    }
}